.image-upload {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover .overlay {
        opacity: 1;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        border-radius: 50%;
        transition: all 0.2s ease;
        background-color: rgba(0, 0, 0, 0.3);

        p {
            color: white;
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
