.view {
    background-color: gainsboro;
    padding: 1rem;

    .sheet {
        margin: auto;
        background-color: white;
        padding: 2rem;
        width: 76%;
        height: 100%;
        .view-header {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid gainsboro;

            .header-img {
                flex: 2;

                img {
                    border-radius: 50%;
                    margin: 1rem 0rem;
                }
            }

            .header-name {
                flex: 6;
                padding: 1rem 1rem;

                h2 {
                    padding: 0;
                    margin: 0;
                }

                h4 {
                    font-weight: 400;
                }

                p {
                    padding: 10px 0px;
                    text-align: center;
                    font-size: 11px;
                }
            }

            .header-contact {
                flex: 2;

                ul {
                    margin: 1rem 0rem;
                    padding: 0rem 1rem;

                    li {
                        font-size: 12px;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}
