.view {
    background-color: lightslategray;

    .sheet {
        background-color: white;
        padding: 1rem;
        width: 56%;
        height: 80%;

        position: relative;
        top: 0;
        left: 0;
        transform: translate(45%, 15%);
    }
}
