.form {
    padding: 1rem;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkorange;
        outline: 1px solid darkorange;
        border-radius: 10px;
    }
}
